<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Game Repository Listings</h1>
	</div>
</header>
<div class="container">
	<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>
	<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
	<button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
	<table ng-table="tableParams" show-filter="true" class="table" export-csv="csv">
		<tr ng-repeat="gametitle in $data">
			<td data-title="'Game Title'" sortable="'gamename'" filter="{ 'gamename': 'text' }">
				{{gametitle.gamename}}
			</td>
			<td data-title="'Unclaimed'" sortable="'uccdk'" filter="{ 'uccdk': 'text' }">
				{{gametitle.uccdk}}
			</td>
			<td data-title="'Claimed'" sortable="'ccdk'" filter="{ 'ccdk': 'text' }">
				{{gametitle.ccdk}}
			</td>
			<td data-title="'View'">
				<a class="btn btn-primary" href="/view/{{gametitle.gamename}}">View</a>
			</td>
			<td data-title="'Update'">
				<a class="btn btn-primary" href="/update/{{gametitle.gamename}}">Update</a>
			</td>
		</tr>
	</table>
</div>
<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Redemption Web Application</a></p>
  </div>
</footer>