<div ng-include="'../components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
	<div class="container">
		<h1>Available Keys for {{gametitle}} </h1>
	</div>
</header>

<div class="container">
		<h2>Claimed CD-Keys</h2>
		<a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="{{gametitle}}.csv">Export to CSV</a>
		<table ng-table="tableParams" show-filter="true" class="table" export-csv="csv">
			<tbody>
				<tr ng-repeat="key in $data ">
					<td data-title="'CD-Keys'">
						{{key.gamekey}}
					</td>
					<td data-title="'keystatus'" filter="{ 'keystatus': 'text' }">
						{{key.keystatus}}
					</td>
				</tr>
			</tbody>
		</table>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="http://innobyt.com">Innobyt Redemption Web Application</a></p>
  </div>
</footer>